# Data files
# data/
*.tar
*.gz
*.txt
*.csv
*.docx
*.xlsx
*.avinput
!README.txt
!Traits_Table_GeneATLAS.csv
.DS_Store

# Plots
figures/
plots/

# Byte-compiled files
__pycache__/
*.pyc

# Scrap files
scrap/

# Setup
setup_gpu.yml

# Test scripts
preprocess/process_geneatlas_newtest.py
preprocess/_ga2avinput.py
preprocess/_process_pipe.py
preprocess/process_giant.py
preprocess/process_anno.py
#eda/_explore_ga.py
#eda/load_filetypes.py
testing/
path_test.py
cts/test.py

# Stand-alone job scripts
perm_rf.py
pos_ctrl_mlp.py
