# Data files
# data/
*.tar
*.gz
*.txt
*.csv
*.docx
*.xlsx
*.avinput
!README.txt
!Traits_Table_GeneATLAS.csv

# Plots
figures/
plots/

# Byte-compiled files
__pycache__/
*.pyc

# Scrap files
scrap/

# Setup
#setup.yml

# Test scripts
preprocess/process_geneatlas_newtest.py
preprocess/_ga2avinput.py
preprocess/_process_pipe.py
preprocess/process_giant.py
eda/_explore_ga.py
eda/load_filetypes.py
